<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coderstory.miui_toolkit">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".tools.CrashHelper.CrashApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity-alias -->
        <!-- android:name=".SplashActivity-Alias" -->
        <!-- android:enabled="true" -->
        <!-- android:targetActivity=".SplashActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- &lt;!&ndash;<category android:name="android.intent.category.LAUNCHER" />&ndash;&gt; -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity-alias> -->
        <service android:name=".service.UpdateService"></service>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="MIUI第三方辅助工具" />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".Activity.AboutActivity"
            android:label="关于 Mi Kit" />
        <activity
            android:name=".Activity.HelperActivity"
            android:label="设置向导" />

        <service android:name=".service.UpdateService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="578df8ece0f55accff0026f5" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="I" />

        <activity android:name=".Activity.DisableAppActivity"></activity>
    </application>

</manifest>